---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Footer from '../components/Footer.astro';
import { sections } from '../config/sections';
---

<Layout>
  <Navbar />
  <main id="main-content">
    <Hero />
    {sections.map(({ component: Section }, i) => <Section num={String(i + 1).padStart(2, '0')} />)}
  </main>
  <Footer />
</Layout>
